@import url("./assets/Styles/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color-light: #f4f4f4;
  --secondary-bg-color-light: #ffffff;
  --primary-bg-color-dark: #000000;
  --primary-font-family: "TestSoehne";
}

@font-face {
  font-family: "TestSoehne";
  src: url("fonts/test-soehne-buch.woff2") format("woff2"),
    url("fonts/TestSoehne-Buch.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TestSoehne";
  src: url("fonts/test-soehne-halbfett.woff2") format("woff2"),
    url("fonts/TestSoehne-Halbfett.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: "TestSoehne", sans-serif;
  background-color: var(--primary-bg-color-light);
  color: var(--primary-bg-color-dark);
  overflow-x: hidden;
  height: 100vh;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.font-family-primary {
  font-family: var(--primary-font-family), sans-serif;
}
.font-secondary-color {
  background-color: var(--secondary-bg-color-light);
}
